.other-bold {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  display: flex;
  align-items: center;
}

.other-medium {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  display: flex;
  align-items: center;
}

.other-regular {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
}
