@import '../../scss/colors.scss';
@import '../../scss/breakpoints.scss';

.preview {
  background-image: url('../../assets/images/notebook/Vector.png');
  background-repeat: no-repeat;
  background-position: right;
  min-height: 1352px;
  position: relative;
  @media screen and (max-width: map-get($breakpoints,'lg')) {
    width: 100%;
  }
  &__notebook {
    position: absolute;
    &__img {
      @media screen and (max-width: map-get($breakpoints,'xxl')) {
        position: relative;
        top: 350px;
        width: 100%;
        height: 100%;
      }
      @media screen and (max-width: map-get($breakpoints,'sm')) {
        position: relative;
        margin-top: 150px;
      }
    }
  }
  &__text {
    width: 560px;
    transform: translate(100%, 120%);
    &--blue {
      color: map-get($otherColors, 'otherOcean');
    }
    @media screen and (max-width: map-get($breakpoints,'xxl')) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      transform: none;
      text-align: center;
      width: 100%;
    }
  }
}

.pt-120 {
  @media screen and (max-width: map-get($breakpoints,'lg')) {
  padding-top: 0;
  }
}
