@import '../../scss/colors.scss';

.drawer {
  background-color: map-get($mainColors, 'mainGray');
  position: fixed;
  top: 0;
  right: -1000px;
  bottom: 0;
  width: 400px;
  transition: right 0.5s;
  &--active {
    right: 0;
  }
  &__user-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-decoration: none;
  }
  &__close {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: map-get($primaryColors, 'primaryGreen');
    color: map-get($mainColors, 'mainWhite');
  }
}
