$mainColors: (
  mainSnow: #fff,
  mainWhite: #f5f5f5,
  mainGray: #a1a1a3,
  mainBlack: #333333,
);

$primaryColors: (
  primaryBlue: #2b69dd,
  primaryOrange: #fbac00,
  primaryGreen: #87b645,
);

$otherColors: (
  otherGreen: #098b50,
  otherIzumrud: #026057,
  otherRed: #eb5757,
  otherBlue: #75acfe,
  otherOcean: #1baad1,
  otherYellow: #f8db73,
);

$borderColors: (
  borderGray: #d7d7d7,
  borderCard: #a0c4fa,
  borderRed: #EB5757,

);

$textColor: #262626;


